body {
    background: #fff
}

a {
    text-decoration: none;
    color: black;
}

/* header 시작 */
header.desktop {
    background-color: #fff;
    border-bottom: 2px solid #efefef;
    padding: 10px 20px;
    z-index: 100;
}

button {
    background: none;
    border: none;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 50px;
}

.title-logo {
    width: 160px;
    height: auto;
    margin-left: 30px;
}


.hamburger {
    width: 17px;
    height: 17px;
    padding: 10px;
}

.nav-hamburger button {
    position: relative;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.nav-hamburger button img {
    display: block;
    position: relative;
    z-index: 3;
}

.nav-hamburger button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 2;
}

.nav-hamburger button:hover::before {
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.icon2 {
    width: 33px;
    height: 33px;
    margin-right: 30px;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    box-shadow: 0 0 0 1px #eaebec, 0 4px 8px 3px rgba(0, 0, 0, .8);
    z-index: 1;
    top: 100%;
    right: 0;
}

.sprite_user_icon_outline:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* header 끝 */


.sprite_compass_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -130px -286px;
    width: 23px;
    height: 23px;
}


.sprite_user_icon_outline {
    display: inline-block;
    width: 22px;
    height: 24px;
}

.preview .preview-bg {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-image: url(/static/images/sprites/abfe22.png);
    background-size: 413px 391px;
    background-position: -93px -52px;
}



/* 북마크 */
.sprite_bookmark_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -237px -286px;
    width: 19px;
    height: 24px;
}

.sprite_bookmark_outline.on {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -159px -286px;
    animation: heart_bounce 1s linear;
}

.sprite_bookmark_outline.off {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -185px -286px;
    animation: heart_bounce 1s linear;
}


/* 좋아요 */
.sprite_heart_icon_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -52px -261px;
    width: 24px;
    height: 22px;
}

.sprite_heart_icon_outline.on {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -26px -261px;
    animation: heart_bounce 1s linear;
}

.sprite_heart_icon_outline.off {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -52px -261px;
    animation: heart_bounce 1s linear;
}



.sprite_small_search_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -337px -246px;
    width: 10px;
    height: 10px;
}

.sprite_more_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -301px -218px;
    width: 16px;
    height: 3px;
}

.sprite_bubble_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -239px -202px;
    width: 24px;
    height: 24px;
}

.sprite_share_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -324px -52px;
    width: 21px;
    height: 24px;
}

.sprite_bookmark_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -237px -286px;
    width: 19px;
    height: 24px;
}

.sprite_small_heart_icon_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -323px -274px;
    width: 12px;
    height: 11px;
}

.sprite_camera_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -271px -104px;
    width: 24px;
    height: 22px;
}

.sprite_insta_big_logo {
    display: inline-block;
    background: url('../imgs/f01fcb405c10.png') no-repeat -98px -150px;
    width: 175px;
    height: 51px;
}

.sprite_plus_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -187px -202px;
    width: 23px;
    height: 23px;
}


/* sidebar시작 */
.sidebarHidden {
    transform: translateX(-300px);
    transform: translateX(-280px);
}

#sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(-280px);
}



.sidebar-hamburger button {
    position: relative;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin-left: 17px;
}

.sidebar-hamburger button img {
    width: 17px;
    height: 17px;
    display: block;
    position: relative;
    /* 이미지도 상대 위치로 설정 */
    z-index: 3;
    /* 이미지를 배경보다 위로 가져옵니다 */
}

.sidebar-hamburger button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    /* 배경 색상을 원하는 색상으로 변경하세요 */
    transition: opacity 0.3s;
    /* 투명도에 대한 트랜지션을 추가하세요 */
    opacity: 0;
    /* 초기에는 투명하게 설정 */
    z-index: 2;
    /* 배경을 이미지 뒤로 보냅니다 */
}

.sidebar-hamburger button:hover::before {
    opacity: 1;
    /* hover 시 투명도를 1로 설정하여 나타나게 합니다 */
}

.sidebar-container {
    display: flex;
    align-items: center;
    padding-top: 6px;
}

#side1 {
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

#side1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #2c3e50;
    /* 텍스트 색상 */
    display: block;
    transition: 0.3s;
    padding: 5px;

}


#side1 .sidebar-profile {
    width: 25px;
    height: 27px;
}

.sidebar-list a:hover {
    background-color: #f1f1f1;
    /* 호버 배경 색상 */
    color: #3498db;
    /* 호버 텍스트 색상 */
    border-radius: 10px;
}

.sidebar-list {
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.sidebar-list img {
    width: 23px;
    height: 23px;
    margin: 8px;
}

.sidebar-text {
    margin-left: 13px;
    display: inline-block;
    text-align: right;
    position: relative;
    /* absolute, fixed 등도 사용 가능 */
    bottom: 12px;
    font-size: 18px;
    font-weight: 550;
}

.sidebar-heading {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    /* Heading color */
    padding: 15px 10px;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 투명한 검은 배경 */
    z-index: 300;
    /* 사이드바 위에 나타나도록 설정 */
}

#overlay2 {
    display: none;
    position: fixed;
    top: 50;
    width: 280px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 투명한 검은 배경 */
    z-index: 1;
    /* 사이드바 위에 나타나도록 설정 */
}

/* sidebar끝 */

/* sub sidebar */
#sub-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: #fff;
    /* 배경색은 필요에 따라 수정하세요 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    transition: width 0.3s ease;
}

#sub-sidebar .user-search {
    padding: 20px 20px 20px 15px;
}

#sub-sidebar input {
    width: 206px;
    height: 20px;
    padding: 10px;
    margin: 0 13px;
    border: none;
    /* 테두리 없애기 */
    background-color: #f5f5f5;
    /* 연한 회색 배경색 지정 */
    border-radius: 10px;
}

#sub-sidebar h1 {
    font-size: 24px;
    /* 적절한 크기로 조절하세요 */
    font-weight: bold;
    margin: 17px;
}

#sub-sidebar .search-result {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#sub-sidebar .search-result:last-child {
    border-bottom: none;
}


/* 추가 */
#searchResultsContainer {
    border-radius: 5px;
    width: 100%;

}

.result-item {
    padding: 10px 10px 10px 18px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
}

.result-item:hover {
    background-color: #e0e0e0;
}

.result-item div {
    margin: 0;
    padding: 2px;
}

.result-profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.result-user-info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

}

.result-username {
    font-weight: bold;
    font-size: 13px;
}

.result-nickname {
    font-size: 13px;
    color: #888;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

.user_icon {
    display: inline-block;
    cursor: pointer;
    position: relative;

}

.user_icon:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 알람 카운트 */
.notify_count {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 87, 38);
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 10px;
    right: 104px;
    padding: 1px;
    font-size: 12px;
    z-index: 100;
}





/*알림 모달*/

#notification-trigger {
    position: relative;
}

#notification-trigger img {
    cursor: pointer;
}

#notification-modal {
    display: none;
    position: absolute;
    z-index: 9999;
    left: -415px;
    top: 40px;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
    width: 450px;
    max-height: 442px;

    background-color: #f3f5fe;
    border-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 4px 12px 20px 6px rgba(0, 0, 0, .1);
    overflow-y: scroll;
    transition-property: opacity, transform;
    transition-duration: 270ms;
    transition-timing-function: ease;
}

.close {
    position: absolute;
    top: 5px;
    right: 14px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #868e96;
}

.close:hover {
    color: #3498db;
}

#notification-modal::-webkit-scrollbar {
    width: 10px;
}

#notification-modal::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

#notification-modal::-webkit-scrollbar-track {
    border-radius: 10px;
}



.notify_seciton {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.notify_title,
.notify_title2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sender_info {
    line-height: 1.3;
}

.notnew {
    color: #868e96;
}

.notify {
    display: flex;
    align-items: center;
    border: solid 1px #d1d1d1;
    border-radius: 10px;
    background-color: white;
    margin: 10px 0;
    padding: 8px;
    gap: 10px;
    height: 50px;
}

.notify2-section {
    margin-top: 17px;
}

.sender_img {
    border-radius: 50%;
}

.sender_img img {
    width: 30px;
    height: 30px;
}

.sender_info p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
    line-height: 20px;
}


.notify_list2 {
    opacity: 70%;
}