body {
    background: #f8f8f8;
}

/* header 시작 */
header.desktop {
    background-color: #fff;
    border-bottom: 2px solid #efefef;
    padding: 10px 20px;
}
button{
    background: none;
    border: none;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 50px;
}

.title-logo {
    width: 100px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}


.hamburger {
    width: 24px;
    height: 24px;
    padding:10px;
}
.nav-hamburger button {
    position: relative;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.nav-hamburger button img {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    z-index: 3;
}

.nav-hamburger button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 2;
}

.nav-hamburger button:hover::before {
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}
/* header 끝 */


.sprite_compass_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -130px -286px;
    width: 23px;
    height: 23px;
}


.sprite_user_icon_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -272px -182px;
    width: 22px;
    height: 24px;
}

.preview .preview-bg {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-image: url(/static/images/sprites/abfe22.png);
  background-size: 413px 391px;
  background-position: -93px -52px;
}



/* 북마크 */
.sprite_bookmark_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -237px -286px;
    width: 19px;
    height: 24px;
}

.sprite_bookmark_outline.on {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -159px -286px;
    animation:heart_bounce 1s linear;
}
.sprite_bookmark_outline.off {
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -185px -286px;
    animation:heart_bounce 1s linear;
}


/* 좋아요 */
.sprite_heart_icon_outline{
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -52px -261px;
    width: 24px;
    height: 22px;
}

.sprite_heart_icon_outline.on{
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -26px -261px;
    animation:heart_bounce 1s linear;
}

.sprite_heart_icon_outline.off{
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -52px -261px;
    animation:heart_bounce 1s linear;
}



.sprite_small_search_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -337px -246px;
    width: 10px;
    height: 10px;
}

.sprite_more_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -301px -218px;
    width: 16px;
    height: 3px;
}

.sprite_bubble_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -239px -202px;
    width: 24px;
    height: 24px;
}

.sprite_share_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -324px -52px;
    width: 21px;
    height: 24px;
}

.sprite_bookmark_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -237px -286px;
    width: 19px;
    height: 24px;
}

.sprite_small_heart_icon_outline {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -323px -274px;
    width: 12px;
    height: 11px;
}

.sprite_camera_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -271px -104px;
    width: 24px;
    height: 22px;
}

.sprite_insta_big_logo {
    display: inline-block;
    background: url('../imgs/f01fcb405c10.png') no-repeat -98px -150px;
    width: 175px;
    height: 51px;
}

.sprite_plus_icon {
    display: inline-block;
    background: url('../imgs/4f7ac8e0a402.png') no-repeat -187px -202px;
    width: 23px;
    height: 23px;
}


/* sidebar시작 */
.sidebarHidden {
    display: none; /* 숨김 처리 */
}

#sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff; /* Background color */
    overflow-x: hidden;
    transition: 0.5s;
    margin-left:4px;
}



.sidebar-hamburger button {
    position: relative;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin-left: 17px;
}

.sidebar-hamburger button img {
    width: 24px;
    height: 24px;
    display: block;
    position: relative; /* 이미지도 상대 위치로 설정 */
    z-index: 3; /* 이미지를 배경보다 위로 가져옵니다 */
}

.sidebar-hamburger button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1; /* 배경 색상을 원하는 색상으로 변경하세요 */
    transition: opacity 0.3s; /* 투명도에 대한 트랜지션을 추가하세요 */
    opacity: 0; /* 초기에는 투명하게 설정 */
    z-index: 2; /* 배경을 이미지 뒤로 보냅니다 */
}

.sidebar-hamburger button:hover::before {
    opacity: 1; /* hover 시 투명도를 1로 설정하여 나타나게 합니다 */
}

.sidebar-container{
    display:flex;
    align-items: center;
    padding-top:6px;
}

#side1{
    padding-top:20px;
}

#side1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #2c3e50; /* 텍스트 색상 */
    display: block;
    transition: 0.3s;
    padding:5px;
}


#side1 .sidebar-profile{
    width: 40px;
    height: 40px;
}
.sidebar-list a:hover {
    background-color: #f1f1f1; /* 호버 배경 색상 */
    color: #3498db; /* 호버 텍스트 색상 */
    border-radius: 10px;
}

.sidebar-list{
    padding:20px;
}

.sidebar-text {
    margin-left: 20px;
    display: inline-block;
    text-align: right;
    position: relative; /* absolute, fixed 등도 사용 가능 */
    bottom: 7px;
}

.sidebar-heading {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Heading color */
    padding: 15px 10px;
}
/* sidebar끝 */


/*-------------------------------------//icons*/


#main_container {
    /*height: 100vh;*/
    padding-top: 135px;
    display: flex;
    justify-content: center;
    order: 1;
}


#main_container .b_inner{
    width:100%;
    position: relative;
}


@media screen and (max-width: 1100px) {
    #main_container {
        padding-top: 220px;
    }

    #header .h_inner {
        padding: 0 20px;
    }

    #main_container .b_inner{
        width:initial !important;
        max-width:935px;
    }

    .side_box {
        display: none;
    }

    .b_inner .contents_box {
        float: none;
    }

    .contents {
        max-width: 600px;
        margin: 0 auto 40px;
    }

    .hidden_menu {
        display: block;
        opacity: 1;
    }
}

@media screen and (max-width: 620px) {

    body {
        overflow-x: hidden;
    }

    #main_container {
        padding-top: 181px;

    }

    #header .search_field {
        display: none;
    }

    .hidden_menu {
        width: 100%;
        top: 77px;
    }

}

@media screen and (max-width: 480px) {

}
