/* feedDetail modal */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#modal_add_feed .modal_overlay {
    top: 0 !important;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    animation: fadeIn 0.5s ease;
}

.modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 620px;
    /* height: 90vh; */
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fadeIn 0.5s ease;
    display: flex;
    flex-direction: column;
}

.modal_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    border-bottom: 2px solid #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal_title_center {
    flex: 1;
    text-align: center;
}

.modal_title_side {
    flex: 0 0 auto;
    text-align: center;
}

#close_modal_container {
    position: relative;
    top: -60px;
    right: -30px;
    cursor: pointer;
}

#close_modal {
    font-size: 30px;
    color: white;
}

/* 피드 디테일 페이지 스타일 */
.contents_detail_box {
    max-height: 100vh;
    width: 100%;
    margin: 0;

}



.contents_detail {
    flex-direction: column;
    /* 세로 형태로 변경 */
    padding-top: 20px;
    width: 100%;
    max-height: 80vh;
    /* 높이를 내용에 맞게 자동 조정 */
    overflow-y: auto;
    overflow-x: hidden;
    /* 가로 스크롤 허용 */
    scrollbar-color: #ced0d4 transparent;
    position: relative;
    /* 추가 */
    /* height: 88%; */

}

.contents_detail::-webkit-scrollbar {
    width: 8px;
    /* 세로 스크롤 바 너비 조정 (Chrome, Safari, Edge) */
}

.contents_detail::-webkit-scrollbar-thumb {
    background-color: #ced0d4;
    border-radius: 3px;
}


.img_section {
    flex: 1;
}

.trans_inner img {
    width: 590px;
    height: 500px;
}


.detail--right_box {
    order: 1;
    padding: 0px 20px 20px 20px;
}

.top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.contents_detail_box .user_container {
    display: flex;
    align-items: center;
}

.contents_detail_box .profile_img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.contents_detail_box .user_name {
    margin-left: 10px;
}

.contents_detail_box .nick_name span {
    display: block;
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin-bottom: 5px;
}

.contents_detail_box .nick_name span:last-child {
    font-size: 11px;
    color: #888;
}

.more_detail {
    list-style: none;
    padding: 0;
    margin: 0;
}

.more_detail li {
    margin-bottom: 10px;
}

/* 호버 효과 스타일 */

.contents_detail_box .like_container:hover,
.contents_detail_box .comment_container2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    /* 회색 투명 배경 */
    transition: background-color 0.3s ease;
    /* 배경 트랜지션 효과 */
}

/* 좋아요 버튼 호버 효과 */

.contents_detail_box .like_container:hover {
    transform: scale(1.1);
    /* 크기를 1.2배로 확대 */
    transition: transform 0.3s ease;
    /* 부드러운 트랜지션 효과 */
}

/* 댓글 버튼 호버 효과 */

.contents_detail_box .comment_container2:hover {
    transform: scale(1.1);
    /* 크기를 1.2배로 확대 */
    transition: transform 0.3s ease;
    /* 부드러운 트랜지션 효과 */
}

.contents_detail_box .sprite_heart_icon_outline.on {
    background: url('../imgs/like2.png') no-repeat;

}

.contents_detail_box .sprite_heart_icon_outline {
    display: inline-block;
    background: url('../imgs/like.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.icons_container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    justify-content: center;
    width: 550px;

}

.like_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.like_container span {
    font-size: 14px;
}

.contents_detail_box .comment_container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.content_detail_bottom_icons {
    order: 4;
    /* content_detail_bottom_icons를 like_count_container 아래로 이동 */
    margin-top: 10px;
}

.contents_detail_box .comment_img {
    width: 30px;
    height: 20px;
    padding-right: 5px;
}

.contents_detail_box .comment_container2 span {
    font-size: 14px;
}

.scroll_section {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.interaction_container {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    margin-top: 1rem;
}

.like_count_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like_count_container span {
    text-align: center;
}

.contents_detail_box .comment_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.heart_img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


/* 댓글 리스트 */

.contents_detail_box .comment-display {
    padding: 10px;
    margin-bottom: 20px;
}

.contents_detail_box .comment-item {
    width: fit-content;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    /* 말풍선 배경색 */
    border-radius: 10px;
    /* 말풍선 모서리 둥글게 */
    padding: .5rem 1rem .5rem .4rem;
    /* 내용과 말풍선 테두리 사이의 간격 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    display: flex;
    flex-direction: column;
    /* 세로로 나타내도록 변경 */
}

.contents_detail_box .comment-username {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
}

.contents_detail_box .comment-content {
    /* flex-grow: 1; 내용이 말풍선 내에서 최대한 확장되도록 설정 */
    font-size: 14px;
    width: fit-content;
}







.comment_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contents_detail_box .comment_field {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    /* 바텀 부분만 둥글게 */
    border-bottom-right-radius: 10px;
    /* 바텀 부분만 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    border-top: 2px solid #efefef;
    z-index: 1;
    /* 추가 */
}

.contents_detail_box .comment_field input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: white;
    color: none;
    /* 포커스 시에도 배경 색상 유지 */
}

.contents_detail_box .comment_field input:focus {
    background: transparent;
    /* 포커스 시에도 배경 색상 유지 */
}

.contents_detail_box .comment_field input:focus~.upload_btn {
    pointer-events: initial;
    opacity: 1;
    background: transparent;
    /* 포커스 시에도 배경 색상 유지 */
}

.contents_detail_box .comment-form {
    width: 80%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contents_detail_box .upload_btn {
    color: #3897f0;
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    /*pointer-events: none;*/
    opacity: 0.6;
}