#grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "login-container icon";
}

.register-container {
    margin-top: 100px;
}

.square-box {
    width: 440px;
    height: auto;
    margin: auto;
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-text {
    font-size: 30px;
    font-family: fantasy;
    margin: 10px 0 30px 0;
    line-height: 35px;
}

/* .login-img img {} */

.icon {
    max-width: 40%;
    font-size: 5em;
    animation: motion 0.4s linear 0s infinite alternate;
    position: relative;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }
}

.login-img1 {
    min-width: 100%;
    position: absolute;
    z-index: 50;
}

.login-img2 {
    padding-left: 200px;
    top: 96px;
    min-width: 70%;
    opacity: 0;
    animation: fadeIn 1s ease 1.5s forwards;
    z-index: 100;
    position: absolute;
}

.login-img3 {
    padding-left: 388px;
    top: 37px;
    max-width: 65%;
    z-index: 300;
    opacity: 0;
    animation: fadeIn 1s ease 3s forwards;
    position: absolute;
}

.login-img4 {
    padding-left: 520px;
    max-width: 80%;
    z-index: 200;
    max-width: 70%;
    opacity: 0;
    animation: fadeIn 1s ease 4.5s forwards;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.login-container {
    width: 440px;
    min-height: 80dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}


.login-input,
.register-input {
    width: -webkit-fill-available;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 70%;
    border-radius: 10px;
    padding: 13px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 12px
}


.login-button {
    width: 100%;
    background-color: #228CEE;
    border-radius: 10px;
    padding: 13px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.line {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 20px 0;
}

.line::before,
.line::after {
    content: ' ';
    flex-grow: 1;
    height: 1px;
    background-color: currentColor;
    opacity: 0.4;
}

.login-reco {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button:hover {
    background-color: #228CEE;
    border-radius: 20px;
    transition: border-radius 0.2s;
}

.register-logo {
    display: flex;
    justify-content: center
}

.register-logo img {
    width: 50%;
    padding: 20px;
    align-items: center;
}

.margin-t {
    margin-top: 25px;
}


.login-reco a {
    text-decoration: none;
    color: #228CEE;
    cursor: pointer;
    margin-left: 5px;
}

.register-text {
    font-size: 25px;
    font-family: fantasy;
    margin: 10px 0 30px 0;
    line-height: 35px;
    text-align: center;
}