a {
    text-decoration: none;
}

body {
    margin-bottom: 100px;
}

.top-section {
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 50px;
}

.views-box {
    display: flex;
    gap: 13px;
}

.views,
.likes {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #616161;
}

.views img,
.likes img {
    width: 20px;
}

.likes {
    cursor: pointer;
}

.title {
    width: 1200px;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
}

.border {
    border-bottom: 3px solid #f2f2f2;
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between
}

.user-section {

    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.user-section a {
    display: flex;
    align-items: center;
}

.btnSection {
    display: flex;
    gap: 10px;
}


.studyEdit,
.studyDelete,
.goChat {
    display: flex;
    border: solid 1px #cacaca;
    background-color: #ffffff;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    height: 30px;
    padding: 3px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.studyEdit:hover,
.studyDelete:hover,
.goChat:hover {
    border: solid 1px #228CEE;
    background-color: #228CEE;
    color: white;
    text-decoration: none;

}

.user-icon img {
    max-width: 80px;
    border: 1px white solid;
    border-radius: 50%;
}

.user-section-inner {
    display: flex;
    gap: 5px;
    align-items: flex-end
}

.user-title {
    color: #333;
    font-weight: 600;
}

.email-text {
    color: #999;
    font-size: 14px;
}

.created_at {
    color: #717171;
}

.post-detail {
    width: 1200px;
    height: 500px;
    margin: auto;
    padding: 40px 0 20px 0;
}

.detail-info {

    margin-top: 20px;
}

.detail-row {
    display: flex;
    gap: 35px;
    padding-bottom: 35px;
}


.detail-row-inner {
    display: flex;
    gap: 32px;
    width: 30%;
    align-items: center;
}

.sub-title {
    color: #717171;
    font-size: 20px;
    font-weight: 700;
}

.sub-content {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.position_tag_item {
    list-style: none;
    padding: 3px 10px;
    grid-gap: 5px;
    gap: 5px;
    background: #f2f4f8;
    border-radius: 15px;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    color: #3e86f5;
}

.stack-icon img {
    width: 80%;
}

.stack-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(227, 227, 227);
}

.stack-icon span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.javascript {
    background-color: #f7df1e;
}

ul {
    display: flex;
    gap: 5px;
}

.detail-content {
    margin-top: 60px;
}

.study-text {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f2f2f2;
}


.post-likes {
    width: 1200px;
    margin: auto;

}

.post-likes div {
    display: flex;
    justify-content: flex-end;
}

.comment-section {
    width: 1200px;
    margin: auto;
}

.comment-count {
    font-weight: 700;
    font-size: 20px;
    margin: 50px 0 20px 0;
}

.comment-form {
    width: 1200px;
    margin: auto;
}

.comment-input {
    display: flex;
}

.comment-user-icon {
    margin-right: 20px;
    margin-top: 10px;
}

.comment-user-icon img {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #e1e1e1;
}

.comment-input textarea {
    font-family: inherit;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 2px solid #e1e1e1;
    border-radius: 16px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
}

.comment-form-btn {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
}

.comment-form-btn button {
    padding: 10px 20px;
    background: #333;
    border: #333;
    border-radius: 50px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    align-items: center;
}

.comment-form-btn button:hover {
    background: black;
    border: #333;
}

#comment-list {
    margin-bottom: 100px;
}

.comment-inner {
    display: flex;
    align-items: center;
    padding: 30px 0 30px 0;
    border-bottom: 2px solid #f2f2f2;
}

.user-name {
    font-weight: 600;
    margin-right: 5px;
    color: black;
}

.comment-created-at {
    color: #333;
}

.comment-user-info {
    margin-bottom: 7px;
}

.comment-content {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.comment-options {
    display: flex;
    gap: 5px;
}

.update-remove {
    padding: 5px;
    cursor: pointer;

}

.update-remove img:hover {
    opacity: 100%;
    width: 16px;
}

.comment-edit-text {
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 2px solid #999;
    border-radius: 16px;
    width: 300%;
    min-height: auto;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
}

.comment-edit-form button {
    margin-left: 6px;
}

.comment-save-button,
.comment-cancel-button {
    border: 1px solid #999;
    background-color: white;
    color: #606060;
    width: 55px;
    height: 30px;
    cursor: pointer;
    border-radius: 14px;
}

.comment-save-button:hover,
.comment-cancel-button:hover {
    background-color: #606060;
    color: white;
}