.study-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1200px;
    height: 100%;
}


.side-title {
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-bottom: 2px solid #f2f2f2;
    gap: 9px;
    padding: 30px 0;
}

.num-cir {
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background-color: rgb(77, 178, 251);
    color: white;
    font-size: large;
    border-radius: 50%;
}

.title-main {
    font-size: 22px;
    font-weight: 700;
}


.upside-form {
    display: flex;
    gap: 1rem;
    margin: 30px 0;
    justify-content: space-around;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 2rem;
}

.input-container label {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

select {
    appearance: none;
    width: -webkit-fill-available;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 70%;
    border-radius: 10px;
    padding: 18px;
    padding-right: 30px;
    background-image: url('../imgs/study/drop.png');
    background-size: 30px 30px;
    background-color: rgba(250, 250, 250, 0.6);
    background-repeat: no-repeat;
    background-position: right center;
}

select option {
    width: 20rem;
    height: 2.5rem;
    outline: none;
    font-size: 1rem;
    padding: 0 1.5rem;
    border: 3px solid #4482f7;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.calender-container {
    display: flex;
    justify-content: space-between;
}

.calender {
    width: 45%;
}

.calender label {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.calender input {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 70%;
    border-radius: 10px;
    padding: 18px;
    margin-top: 12px;
    width: 216px;
    height: 15px;
}

.left,
.right {
    width: 47%;
}



.downside-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.downside-form input {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 70%;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 70%;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 20px;
    height: 300px;
    resize: none;
}

.btnside {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: .5rem;
    margin: .5rem;
    margin-bottom: 5rem;
}

.btnside button {
    display: flex;
    border: solid 1px #cacaca;
    background-color: #ffffff;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    height: 38px;
    width: 106;
    padding: 3px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-decoration: none;
}


.btnside button:hover {
    border: solid 1px #228CEE;
    background-color: #228CEE;
    color: white;
    text-decoration: none;
}