*{
    padding: 0;
    margin: 0;
}

body{
    background-color:black;
    color: white;
    width: 100%;
    height: 100%;
}

main{
    width: 80%;
    height: 100%;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

.text-editor{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.editor-name{
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
}


.part-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

.edit-wrapper{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edit-part{
    padding: 1rem 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

label{
    width: 35%;
    padding: .2rem .5rem .2rem 0;
}

input[type="text"]{
    background-color: black;
    color: white;
    width: 100%;
    padding: .2rem .5rem 0 0;
    border: none;
    border-bottom: 0.5px solid white;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

.save-btn{
    width: 10rem;
    padding: .5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: 0.5px solid white;
    margin-top: 1rem;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
}

.save-btn:hover{
    background-color: white;
    color: black;
}


.img-wrapper{
    padding: 1rem;
    border-left: 1px solid white;
}

img{
    width:100%;
}

.filebox label {
    display: inline-block;
    padding: 7px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: rgb(255, 58, 58);
    cursor: pointer;
    text-align: center;
    width: 25%;
}

.filebox label:hover{
    background-color: rgb(255, 90, 90);
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}